.poke-button {
  background: #FF416C;
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  color: #fff;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    box-shadow: 0 3px 8px 0 rgba(255, 255, 255, .7);
  }
}